/* *{
  /* margin: 0;
  padding: 0; 
} 
*/
h1,h2,h3,h4{
  padding: 4px;
  margin: 0px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: dodgerblue;
}

.header img{
  width: 150px;
  padding: 10px;
}

.custom_btn{
  color: white;
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 25px;
  margin-right: 10px;
}

.program_section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.product_card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 10px;
  margin: 10px;
  width: 280px;
  min-height: 290px;
  background-color: #f4f4f4;
  box-shadow: 3px 2px 7px 6px grey,-3px 2px 7px 6px grey;

}

.product_card img{
  width: 250px;
}

.product_card p{
  font-weight: bold;
  font-size: 20px;
}

.product_card button{
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}